body, #container, #sizes, .control-group input, #cityStateZip .control-group {
  margin-left: auto;
  margin-right: auto; }

body {
  font-size: 14px;
  background: #b4b4b4; }

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1200px; }
  @media (min-width: 300px) {
    body {
      width: 100%; } }

h2, #colors {
  font-size: 2em;
  padding-left: 10px; }

.orderForm {
  display: inline-block;
  width: 400px;
  height: 850px;
  float: left;
  position: relative; }

#productDetails {
  background: white; }

#productImg {
  display: block;
  width: 375px;
  height: 375px;
  margin-left: 10px; }
  #productImg img {
    width: 375px;
    height: 375px; }

#price {
  font-weight: bold;
  font-size: 24px;
  width: 375px;
  text-align: right; }

#sizes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 375px;
  margin-bottom: 50px; }

.size {
  display: inline-block;
  float: left;
  width: 105px;
  border: none;
  background: #E6E6E6;
  text-align: center; }
  .size a {
    text-decoration: none;
    color: black; }

#colors {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 375px; }

.color {
  display: inline-block;
  float: left;
  width: 75px;
  height: 50px; }

#green {
  background: #00b400; }

#red {
  background: #d70000; }

#black {
  background: #2d2d2d; }

#blue {
  background: #2968ff; }

#shippingDetails {
  background: #ebebeb; }

#shippingDetails h2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-left: 10px; }

.control-group {
  float: left; }
  .control-group input {
    display: inline-block;
    width: 375px;
    height: 50px;
    font-size: 16px;
    margin-left: 10px; }
    .control-group input :valid {
      border-color: green; }
  .control-group label {
    display: block;
    width: auto;
    padding-left: 10px; }
  .control-group select {
    display: block;
    width: 375px;
    height: 50px;
    margin-left: 10px;
    font-size: 16px; }
  .control-group #address1, .control-group #address2 {
    width: 175px;
    float: left; }
  .control-group #city, .control-group #zip {
    width: 125px; }
  .control-group #state {
    width: 75px; }

#cityStateZip {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-right: 10px; }

#address {
  display: inline-block; }
  #address .control-group {
    padding-right: 5px; }

#orderDetails {
  background: #dcdcdc; }
  #orderDetails h3, #orderDetails .btn {
    margin-left: 10px;
    font-size: 1.5em; }

.lineBreak {
  width: auto;
  height: 2px;
  background: #b4b4b4;
  margin-left: 10px;
  margin-right: 10px; }

#product, #shipping, #total {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 10px;
  padding-right: 10px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  #product p, #shipping p, #total p {
    font-size: 20px; }

#shipping, #total {
  height: 60px; }

#enteredInfo {
  display: block;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-left: 10px;
  font-size: 18px; }
  #enteredInfo p {
    margin: 0; }

#btn {
  display: block;
  background: #00b400;
  width: 375px;
  height: 50px;
  margin-left: 10px;
  border: none;
  text-align: center;
  font-size: 18px;
  color: white;
  position: absolute;
  bottom: 20px; }

#enteredCityStateZip p {
  display: inline-block;
  width: auto;
  margin: 0; }

.error {
  padding-left: 10px;
  color: red; }

#success {
  width: 450px; }
  #success h1 {
    font-size: 4em;
    text-align: center; }
  #success h3 {
    padding-left: 10px;
    font-weight: bold; }
  #success #shipping, #success #total {
    height: 40px; }
    #success #shipping p, #success #total p {
      margin: 10px 0; }

#total p {
  font-weight: bold; }

#successCheck {
  display: block;
  margin-top: 40px;
  text-align: center; }

#success #enteredInfo p {
  margin: 0; }
