body, #sizes, .control-group input, #cityStateZip .control-group {
  margin-left: auto;
  margin-right: auto; }

body {
  font-size: 14px;
  background: #e6e6e6; }

body {
  display: block;
  width: 1200px; }

h2, #colors {
  font-size: 2em;
  padding-left: 10px; }

.orderForm {
  display: inline-block;
  width: 400px;
  height: 750px;
  float: left; }

#productDetails {
  background: white; }

#productImg {
  display: block;
  width: 375px;
  height: 375px;
  margin-left: 10px;
  background: #e6e6e6; }

#price {
  font-weight: bold;
  font-size: 24px;
  width: 375px;
  text-align: right; }

#sizes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 375px;
  margin-bottom: 50px; }

.size {
  display: inline-block;
  float: left;
  width: 105px;
  border: none;
  background: #E6E6E6;
  text-align: center; }
  .size a {
    text-decoration: none;
    color: black; }

#colors {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 375px; }

.color {
  display: inline-block;
  float: left;
  width: 75px;
  height: 50px; }

#green {
  background: #00b400; }

#red {
  background: #d70000; }

#black {
  background: #2d2d2d; }

#blue {
  background: #2968ff; }

#shippingDetails {
  background: #ebebeb; }

#shippingDetails h2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-left: 10px; }

.control-group {
  float: left; }
  .control-group input {
    display: inline-block;
    width: 375px;
    height: 50px;
    font-size: 16px;
    margin-left: 10px; }
  .control-group label {
    display: block;
    width: auto;
    padding-left: 10px; }
  .control-group select {
    display: block;
    width: 375px;
    height: 50px;
    margin-left: 10px;
    font-size: 16px; }
  .control-group #address1, .control-group #address2 {
    width: 175px;
    float: left; }
  .control-group #city, .control-group #zip {
    width: 125px; }
  .control-group #state {
    width: 75px; }

#cityStateZip {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-right: 10px; }

#address {
  display: inline-block; }
  #address .control-group {
    padding-right: 5px; }

#orderDetails {
  background: #dcdcdc; }
  #orderDetails h3, #orderDetails .btn {
    margin-left: 10px; }

.lineBreak {
  width: auto;
  height: 2px;
  background: #b4b4b4; }

#product, #shipping, #total {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 10px;
  padding-right: 10px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  #product p, #shipping p, #total p {
    font-size: 20px; }

.btn {
  display: block;
  background: #00b400;
  width: 375px;
  height: 50px;
  margin-right: 10px;
  border: none;
  text-align: center;
  font-size: 18px;
  color: white;
  position: absolute;
  bottom: 20px; }
