// Content

@mixin responsive($size) {
  @if $size == small {
    @media (min-width: 300px) { @content; }
  }
  @else if $size == medium {
    @media (min-width: 600px) { @content; }
  }
  @else if $size == large {
    @media (min-width: 800px) { @content; }
  }
}

body {
  display: flex;
  width: 1200px;
  @extend %center-element;

  @include responsive(small){
    width: 100%;
  }
}

#container {
  @extend %center-element;
}

h2, #colors {
  font-size: 2em;
  padding-left: 10px;
}

.orderForm {
  display: inline-block;
  width: 400px;
  height: 850px;
  float: left;
  position: relative;
}

#productDetails {
  background: white;
}

#productImg {
  display: block;
  width: 375px;
  height: 375px;
  margin-left: 10px;

  img {
    width: 375px;
    height: 375px;
  }
}

#price {
  font-weight: bold;
  font-size: 24px;
  width: 375px;
  text-align: right;
}

#sizes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 375px;
  margin-bottom: 50px;
  @extend %center-element;
}

.size {
  display: inline-block;
  float: left;
  width: 105px;
  border: none;
  background: #E6E6E6;
  text-align: center;

  a {
    text-decoration: none;
    color: black;
  }

}

#colors {
  display: flex;
  justify-content: space-between;
  width: 375px;
}

.color {
  display: inline-block;
  float: left;
  width: 75px;
  height: 50px;
}

#green {
  background: #00b400;
}

#red {
  background: #d70000;
}

#black {
  background: #2d2d2d;
}

#blue {
  background: #2968ff;
}

#shippingDetails {
  background: $secondary-color;
}

#shippingDetails {

  h2 {
    display: flex;
    flex-wrap: wrap;
    padding-left: 10px;
  }
}

.control-group {
  float: left;

  input {
    display: inline-block;
    width: 375px;
    height: 50px;
    font-size: 16px;
    margin-left: 10px;
    @extend %center-element;

    :valid {
      border-color: green;
    }

  }

  label {
    display: block;
    width: auto;
    padding-left: 10px;
  }

  select {
    display: block;
    width: 375px;
    height: 50px;
    margin-left: 10px;
    font-size: 16px;
  }

  #address1, #address2{
    width: 175px;
    float: left;
  }

  #city, #zip {
    width: 125px;
  }

  #state {
    width: 75px;
  }

}

#cityStateZip {
  display: flex;
  justify-content: space-between;
  margin-right: 10px;

  .control-group {
    @extend %center-element;
  }
}

#address {
  display: inline-block;

  .control-group {
    padding-right: 5px;
  }
}

#orderDetails {
  background: $tertiary-color;

  h3, .btn {
    margin-left: 10px;
    font-size: 1.5em;
  }
}

.lineBreak {
  width: auto;
  height: 2px;
  background: #b4b4b4;
  margin-left: 10px;
  margin-right: 10px;
}

#product, #shipping, #total  {
  display: flex;
  padding-left: 10px;
  padding-right: 10px;
  justify-content: space-between;

  p {
    font-size: 20px;
  }
}

#shipping, #total {
  height: 60px;
}

#enteredInfo {
  display: block;
  justify-content: flex-start;
  margin-left: 10px;
  font-size: 18px;

  p {
    margin: 0;
  }
}

#btn {
  display: block;
  background: #00b400;
  width: 375px;
  height: 50px;
  margin-left: 10px;
  border: none;
  text-align: center;
  font-size: 18px;
  color: white;
  position: absolute;
  bottom: 20px;
}

#enteredCityStateZip {

  p {
    display: inline-block;
    width: auto;
    margin: 0;
  }
}

.error {
  padding-left: 10px;
  color: red;
}

#success {
  width: 450px;

  h1 {
    font-size: 4em;
    text-align: center;
  }

  h3 {
    padding-left: 10px;
    font-weight: bold;
  }

  #shipping, #total {
    height: 40px;

    p {
      margin: 10px 0;
    }
  }
}

#total p{
  font-weight: bold;
}

#successCheck {
  display: block;
  margin-top: 40px;
  text-align: center;
}

#success #enteredInfo {
  p {
    margin: 0;
  }
}