body {
  display: block;
  width: 1200px;
  @extend %center-element;
}

.orderForm {
  display: inline-block;
  width: 400px;
  float: left;
}

#productImg {
  display: block;
  width: 375px;
  height: 375px;
  background: $primary-color;
}

#price {
  font-weight: bold;
  font-size: 24px;
  width: 375px;
  text-align: right;
}

#sizes {
  display: flex;
  justify-content: space-around;
}

.size {
  display: inline-block;
  float: left;
  width: 105px;
  background: $primary-color;
  text-align: center;
  margin-right: 20px;
}

#colors {
  display: flex;
  justify-content: space-around;
}

.color {
  display: inline-block;
  float: left;
  background: $primary-color;
  width: 50px;
}

#shippingDetails {
  background: $secondary-color;
}